html,body{background: #F1F3F7;font-family: PingFang SC,Hiragino Sans GB,Microsoft YaHei,STHeiti,WenQuanYi Micro Hei,Helvetica,Arial,sans-serif;color:#676767}
.leftBar{width: 176px;position:fixed;left:0;bottom:0;background:url(../images/left.png) #d9e7ef center top;top:0;background-size:100% 100%;transition: all 0.5s;-webkit-transition: all 0.5s}
.rightBar{position:absolute;left:176px;top:0;right:0;bottom: 0;}

.lgIcon{background: url(../images/lgIcon.png);display: inline-block;}
.ui-content{min-height: calc(100vh - 180px)}
.g9a{color:  #9A9A9A}
.ui-label[data-type='grey']{background-color:#ccc ;color:#fff ;}
.ui-table[data-type='noLine'] tbody td,.ui-table[data-type='noLine'] tfoot td{border-right:0;}
.ui-button.w80{width: 80px;min-width: 80px !important}
.ui-button.w180{width: 180px;min-width: 180px}
.ui-button.w155{width: 155px;min-width: 155px}
.ui-button.w220{width: 220px;min-width: 220px;}
.ui-button.h44{height: 44px;line-height: 44px;}
.ui-button.w245{width: 245px;min-width: 245px}
.gd9{color:#D9D9D9}
.gd8{color:#D8D8D8}
.edit-icon{width: 14px;height: 14px;background-position: -518px -118px;}
.lh28{line-height: 28px}
.leftArrow{background: url(../images/leftArrow.png) no-repeat; width: 16px; height: 14px;display: inline-block;vertical-align: middle;} 
.showShadow{ box-shadow: 0 3px 8px 0 #e6e9ef;-webkit-box-shadow: 0 3px 8px 0 #e6e9ef;}
.nav{font-size: 12px;padding:10px 0;color: #282828}
.pct28{width: 28%}
.pct35{width: 35%}
.ui-input.h34{height: 34px;line-height: 34px;font-size: 14px;}
.ui-button.w280{width: 280px;min-width: 280px;}
.ui-option.h34{height: 34px;line-height: 34px;font-size: 14px;}
.gae{color:#AEAEAE;}
.searchUp.h34 +.search-cont{top:34px;}
.ui-input.h34[data-type="price"]{padding:0;}
.ui-input[data-type='section']{min-width:inherit;}
.mb40{margin-bottom: 40px}
.h100{height: 100px}

.qCont{background: #fff;padding: 0px;line-height: 18px;background-color: #fff;border-color: #E2E2E2;color: #454545;position: absolute;
    top:10px;left:0;max-width: 380px;min-width: 50px; border-radius: 5px;}
.qContent{font-size:12px;line-height: 12px;direction: ltr;box-shadow: none;box-sizing: border-box;padding: 14px;}
.qCont:before{content:'';width: 0;height:0;border-width: 6px;border-style: solid;border-color:  transparent transparent #fff transparent ;
    ;top:-10px;left:20px;transform:translateX(-50%);position: absolute;}
/*leftbar*/
.logo{height:133px;text-align: center;padding-top: 10px;}
.menu::-webkit-scrollbar {width:6px;height:4px;}
.menu::-webkit-scrollbar-track-piece {background-color:#ddecf5;margin:-spx;}
.menu::-webkit-scrollbar-thumb{background:#b9d0e0;border-radius:2px;}
.menu::-webkit-scrollbar-thumb:vertical:hover{background:#8cb2ca;}
.menu::-webkit-scrollbar-thumb:horizontal:hover{background:#8cb2ca}
.menu{overflow-y:auto;box-sizing: border-box;margin-top:20px;}
.menulist{margin:0 13px;box-sizing: border-box;height: 40px;line-height: 40px;color:#fff;display:block;margin-bottom: 10px;font-size: 16px;text-indent: 13px;color: #282828;display: block}
.menulist:hover,.smlist:hover{background: rgba(255,255,255,0.50);border-radius: 6px;color:#282828;}
.menulist.on,.smlist.on{background: #1365E8;box-shadow: 0 10px 15px -5px rgba(69,146,251,0.40);-webkit-box-shadow: 0 10px 15px -5px rgba(69,146,251,0.40);border-radius: 6px;color:#fff;}
.menuline{background: #ccc;height:1px;margin: 20px 0 20px 0}
.smlist{height: 35px;line-height: 35px;color:#676767;display:block;font-size: 14px;text-indent: 40px;margin:0 13px 5px;}


.mulfolder > .smenu{display: none}
.open > .smenu{display: block}
.imenu-index{width:22px;height:22px;background-position: -15px -15px;}
.on > .imenu-index{background-position: -15px -65px;}
.imenu-order{width:22px;height:22px;background-position: -65px -15px;}
.on > .imenu-order{background-position: -65px -65px;}
.imenu-car{width:22px;height:22px;background-position: -115px -15px;}
.on > .imenu-car{background-position: -115px -65px;}
.imenu-upload{width:22px;height:22px;background-position: -165px -15px;}
.on > .imenu-upload{background-position: -165px -65px;}
.imenu-stock{width:22px;height:22px;background-position: -215px -15px;}
.on > .imenu-stock{background-position: -215px -65px;}
.imenu-warehouse{width:22px;height:22px;background-position: -265px -15px;}
.on > .imenu-warehouse{background-position: -265px -65px;}
.imenu-proc{width:22px;height:22px;background-position: -315px -15px;}
.on > .imenu-proc{background-position: -315px -65px;}
.imenu-review{width:22px;height:22px;background-position: -365px -15px;}
.on > .imenu-review{background-position: -365px -65px;}
.imenu-info{width:22px;height:22px;background-position: -415px -15px;}
.on > .imenu-info{background-position: -415px -65px;}
.imenu-up{ width: 16px;height: 14px;background-position:-517px -18px;}
.open .imenu-up{transform: rotate(-180deg);-webkit-transform: rotate(-180deg);}
/*rightbar*/
.id_mylg{width: 28px;height: 33px;background-position:-461px -61px;}
.topcart{width:44px;height:44px;background-position: -456px -2px;position: relative;}
.topcartDot{display:inline-block;background: #FB2020;width: 18px;height: 18px;border-radius: 50%;position: absolute;top:0;right:0;color:#fff;line-height: 
18px;text-align:center;font-style: normal;font-size:12px;}




/*rightbar*/
.topBar{height:76px;border-bottom: 1px rgba(128,128,128,0.2) solid;box-sizing: border-box;}
.mainCont{padding:20px 30px;}
.mainContnot{padding:0px 30px;}



/* new  web and scroll banner*/
.flexslider{ position:relative;  overflow:hidden; background:url(../images/adv/loading.gif) 50% no-repeat; z-index: 0;height:248px;border-radius: 6px;margin-right: 10px}
.slides{ position:relative; z-index:0;}
.slides > li{ height:248px;}
.flex-control-nav{ position:absolute; bottom:10px; z-index:2; width:100%; text-align:center;}
.flex-control-nav li{ display:inline-block;width:30px; height:6px; margin:0 5px; *display:inline; zoom:1;}
.flex-control-nav a{ display:inline-block; width:30px; height:6px; line-height:40px; overflow:hidden; background: #fff; opacity: 0.6; filter:alpha(opacity=60);cursor:pointer;}
.flex-control-nav .flex-active{ background: #fff; opacity: 1; filter:alpha(opacity=100);}
.flex-direction-nav{ position:absolute; z-index:3; width:100%; top:45%;}
.flex-direction-nav li a{ display:block; width:50px; height:50px; overflow:hidden; cursor:pointer; position:absolute;}
.flexslider .set-a { display: inline-block; width: 100%; height: 100%;}

.icon-hidden.show{background-position:-365px -116px;}
.icon-hidden{height: 20px;width: 20px;background-position:-415px -116px;}
.index-account-cont{height:199px;}
.index-top-title{font-size: 16px;line-height: 45px;display: inline-block;margin-left: 20px;color:#676767;}
.index-top-title.on{border-bottom: 3px #1365E8 solid;color: #282828;}
.index-top-right{padding:15px 20px 0 0;}
.index-top-hide{}
.index-account-detail{padding:40px 40px 0;}
.icon-index-account{height: 100px;width: 200px;background-position:-150px -100px;}
.icon-index-myCoupon{height: 100px;width:150px;background-position:0px -100px;}

.znstepcont{height: 30px;}
.znstepcircle{left:0;background: #D8D8D8;;line-height:8px;width:8px;height: 8px;text-align:center;border-radius: 50%;}
.znstepcircle.selected{background-color:#10C861;}
.znstepline{line-height: 1px;padding:0;top:8px;left:7px;height: 1px;border-top: 1px #CCCCCC dashed ;}
.znstepline.selected{border-color: #10C861}
.znstepcircleorange{left:0;background:#FF6B6B;line-height:8px;width:8px;height: 8px;text-align:center;border-radius: 50%;}
.ml-10{margin-left:-10px;}
.left-0{left:0;}
.z-index9{z-index:9;}
.znstepclock{width: 8px;height:8px;left:0;box-sizing: border-box;border:1px #10C861 dashed;border-radius: 50%;background:#fff;}
.pct22 {width: 22.5%;}
.pct18{width: 18%}
.pct14{width: 14%}
.inoperable{background: #FAFAFA;color: #9A9A9A }
.inoperable .red{color: #9A9A9A }
.switchDotBut.on:after,.switchDotButToReapply.on:after{left:50%;top:38px;transform:translateX(-50%);content:'';position:absolute;width: 17px;height:7px;background:url(../images/switchangleBut.png) no-repeat;}
.whbgshadow{background: #FFFFFF;border: 1px solid #EEEEEE;box-shadow: 0 5px 8px 0 rgba(0,0,0,0.05);-webkit-box-shadow: 0 5px 8px 0 rgba(0,0,0,0.05);}
.scanbg{background: #F1F3F7;border: 1px solid #EEEEEE;border-radius: 3px;width: 508px;height:319px;}
.scanwbg{border: 1px solid #E6E6E6;background: #fff;box-sizing: border-box;width: 238px;height: 240px;margin:25px auto 10px;padding:10px;}
.scanwbg > img{width: 218px;height:220px;}
.mr76{margin-left: 76px;}
.payIcon-wy{display: inline-block;width: 86px;height: 32px;background:url(../images/payIcon.png) -69px 0;}
.payIcon-wx{display: inline-block;width: 92px;height: 32px;background:url(../images/payIcon.png) -155px 0;}
.payIcon-zfb{display: inline-block;width: 69px;height: 32px;background:url(../images/payIcon.png) 0 0;}
.ui-tip[data-type='normal'].linetwo { background-position: 0px 10px;padding: 0 10px 0 20px;}
.payBankItem{border: 1px solid #E6E6E6;border-radius: 3px;width: 180px;height:68px;cursor: pointer;}
.payBank-zs{background:url(../images/payIcon.png) -180px -32px #fff;}
.payBank-zg{background:url(../images/payIcon.png) 0px -32px #fff;}
.payBank-gs{background:url(../images/payIcon.png) 0px -100px #fff;}
.payBank-js{background:url(../images/payIcon.png) -360px -32px #fff;}
.payBank-ny{background:url(../images/payIcon.png) -180px -100px #fff;}
.payBankItem:hover,.payBankItem.on{border-color:#2172F5;}
.baseinfo-bot{min-height: calc(100% - 400px)}
.coupon-top-box{box-sizing:border-box;padding:10px 4%;background: #F0F6FF;border: 1px solid #D5E0F0;;box-sizing: border-box;}
.tip-icon{width: 166px;height: 97px;background: url(../images/base/tip.png) no-repeat;display: inline-block;}
.coupon-item{margin-right:40px;width: 290px;height: 172px;background: url(../images/base/couponbg.png) no-repeat;display: inline-block;box-sizing: border-box;padding:20px 0px 5px 20px;}
.gda{color:#DA6A0A}
.f36{font-size: 36px;}
.coupon-item-num{}
.toComp .mysign{width: 70px;height: 28px;background:url(../images/base/toComp.png) no-repeat;position: absolute;left:-5px;top:5px;}
.toPers .mysign{width: 70px;height: 28px;background:url(../images/base/toPerson.png) no-repeat;position: absolute;left:-5px;top:5px;}

/*address*/
.orderaddr.w270{width: 270px}
.orderaddr.adr-binfo{width: 100%;margin:20px 0 0  0;height:148px;}
.orderaddr{padding:10px;position:relative;margin-bottom:10px;display:inline-block;margin-right: 10px;width:282px;height:113px;box-sizing: border-box;border:1px #D9D9D9 dashed;border-radius: 3px;}
.orderaddr:hover{border-color:#1365E8 }
.addrInfo{max-height: 36px;margin-bottom: 2px;overflow: hidden}
.addrbut{background: #FAFAFA;padding:1px 5px;color: #9A9A9A;}
.addrdel{display:none;width: 14px;height: 14px;background-position: -318px -468px;position: absolute;right:-5px;top:-5px;}
.orderaddr:hover .addrdel{display: inline-block;}
.orderaddr.active{border-color:#1365E8;background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAMAAADzN3VRAAAAY1BMVEUAAAAUZukUZukVZekrgP8TZej///8dbOkUZujf6vu+1PixzPelxPaArfJnnPBJie33+v7z9/3t8/3N3vrH2vm40firyPafwPWXu/SSuPSLs/Nyo/Felu82e+szeusncukYaOgycWiSAAAABXRSTlMAgOaIBphkq+4AAAB7SURBVCjPdc1JDoNADETRJOS7GQJknqf7nxJZIHUvXH/7bNVKtZaABCQgAQlIQAISkIAEJBDDcIUQXjZABL31QABPuwEU8E14d7vUABlomxHqnZ3miwyksz1SZ82PLA5OrR3s+GGuAPh3th9ZKsFX3mRxCNoooFIf1XYCMJwHrYvf+5sAAAAASUVORK5CYII=');background-position:bottom right;background-repeat: no-repeat; }
.active .addrInfo{color:#282828;}
.active .defautTip{color:#FB2020;background-color: #FFE3E3;display: inline-block; }
.addrbut{display: none}
.orderaddr:hover .addrbut{display: inline-block; }
.addressBook{height: 123px;overflow: hidden;display: none}
.addressBookBut{display: none}
.addressDBook{padding-top: 5px;}
.defautTip{color:#FB2020;background-color: #FFE3E3;display: inline-block;padding:1px 5px; }
.orderaddr.disabled{background: #FAFAFA}
.personText{position:absolute;display:inline-block;font-size:18px;color:#333;transform:rotate(-17deg);-webkit-transform:rotate(-17deg);left:50%;top:55px;margin-left:-140px;}
.orderaddr.h100{height: 100px}
.pct85{width: 85%}
.addressBook.h110{height: 110px;}

/*.city-picker-input{opacity:1 !important; top: 0px; left: 0px; filter:alpha(opacity=100);}
.city-picker-input +.city-picker-span{opacity:0; filter:alpha(opacity=0);}*/

/*pageWrap*/
.pageWrap{margin: 20px auto 0;text-align: center;}
.pagegray,.arrowL,.arrowR{vertical-align:middle;width: 30px;color: #676767;height:30px;line-height: 30px;margin: 0 3px; border-radius: 2px;display: inline-block;cursor: pointer;background-color: #F1F3F7; }
.pagegray:hover,.arrowL:hover,.arrowR:hover{background-color: #F0F6FF; color: #1365E8;}
.pagegray.active{color: #fff;background-color: #1365E8;}
.arrow-left,.arrow-right{margin-top:7px;}

/* width */
.w80{width: 80px;}
.pct5{width: 5%;}
.pct16{width:16%}
.pct12{width:12%}
.pct24{width: 24%;}
.pct45{width: 45%;}
.pct55{width: 55%;}
.pct88{width: 88%;}
.pct95{width: 95%;}

/* margin */
.mt25{margin-top:25px}
.mt45{margin-top:45px}
.mt35{margin-top: 35px;}
.ml25{margin-left: 25px;}

/* padding */
.pt25{padding-top: 25px;}
.pl25{padding-left: 25px;}
.pr25{padding-right: 25px;}
.pb60{padding-bottom: 60px;}


/* 清除浮动 */
.clearfix:after{content: "020"; display: block; height: 0; clear: both; visibility: hidden; }

/* modelUpload */
.download-customer {width: 300px;height: 150px;box-sizing: border-box;border: 1px dashed #D9D9D9;border-radius: 3px;background: #fafafa;}
.customer-download {width: 40px;height: 40px;display: inline-block;background: url(../images/customer/customer-download.png) no-repeat center;}
.customer-upload {width: 40px;height: 40px;display: inline-block;background: url(../images/customer/customer-upload.png) no-repeat center;}

/* myDepot  */
.selectSingle a {color: #808080;display: inline-block;}
.selectSingle a.on {color: #1365e8;}
.myStock {border: 1px solid #e5e5e5;}
.stockTable {border: 1px solid #e5e5e5;}
.stockFoot {height: 60px;line-height: 60px;background: #F3F7FD;}
.router .startAddr::before, .router .endAddr::before {content: "";width: 8px;height: 8px;background: #FFFFFF;border: 2px solid #10C861;border-radius: 50%;display: inline-block;vertical-align: -2px;margin-right: 5px;}
.router .endAddr::before {border: 2px solid #FB2020;}
.router .tran {background: url(../images/customer/allow-down.png) no-repeat;min-height: 60px;background-position: 2px 0;}
.fixedbar {position: fixed;bottom: 0;height: 60px;background-color: #fff;width: 100%;box-sizing: border-box;padding: 15px 0;}
.warehouse-btn button {min-width: 65px;}
.bte {border-top: 1px solid #eee;}
.stockTable {border: 1px solid #e5e5e5;}
.bte6 {border-top: 1px solid #e6e6e6;}
.pl50{padding-left: 50px;}
.pl100{padding-left: 100px;}
.plpct30{padding-left:30%;}
.alertinput{border-color: #ff8082 !important;}
/*baseinfo*/
.nbut{border:0;background: transparent;}
.base-info-left{display: inline-block;width: 60%;font-size: 14px;box-sizing: border-box;padding:32px 6.5%;}
.base-info-right{display: inline-block;width: 40%;font-size: 14px;box-sizing: border-box;padding:32px 6.5%;border-left:1px #EEEEEE solid;min-height: 700px;vertical-align: top}
.base-comp-bg{background:url(../images/base/compbg.png) center no-repeat;box-shadow: 0 18px 15px -10px #EDEFF3;-webkit-box-shadow: 0 18px 15px -10px #EDEFF3;border-radius: 6px;height:208px;}
.base-comp-title{color:#fff;height:50px;line-height: 50px;padding-left:34px;font-size: 16px;}
.base-comp-band{background: #FFFFFF;border: 1px solid #FFFFFF;border-radius: 11px;color: #CC924D;height:22px;line-height: 22px;font-size: 12px;padding:0 5px;}
.base-comp-apply{background: #FFFFFF;border: 1px solid #E2B886;border-radius: 11px;color: #CC924D;height:22px;line-height: 22px;font-size: 12px;padding:0 5px;}
.base-comp-band.no{color:#FB2020;}
.base-brand-ic{width: 16px;height: 16px;background-position: -467px -117px;}
.base-brand-noic{width: 16px;height: 16px;background-position:-17px -217px}
.base-comp-cont{color:#fff;padding:20px 0 0 34px;line-height: 25px;}
.base-finan-add{background: #FAFAFA;border: 1px dashed #D9D9D9;border-radius: 3px;box-sizing: border-box;height: 138px;padding-top:30px;}
.base-finan-addbut{line-height:30px;text-align:center;font-size:24px;border-radius:50%;background: #FFFFFF;box-shadow: 0 3px 10px 0 rgba(0,0,0,0.08);-webkit-box-shadow: 0 3px 10px 0 rgba(0,0,0,0.08);height:32px;width: 32px;}
.base-finan-add:hover{border-color: #1365E8}
.base-finan-tip{margin:50px -10% 0; }
.sms-content {box-sizing: border-box;display: inline-block;width: 800px;vertical-align: top;}
.sms-content-item {box-sizing: border-box;width: 44%;height: 94px; margin: -1px 4% 0px 0;float: left;padding: 16px 19px;border: 1px solid #E6E6E6;background: #F9F9F9;
    text-align: left;cursor: pointer;}
.sms-content-item:nth-of-type(2n){margin-right:0;}
.sms-content-item.on{background: #fff}
 .sms-content-item-panel {box-sizing: border-box;display: inline-block;width: calc(100% - 40px);font-size: 12px;line-height: 17px;vertical-align: top;}
 .sms-content-item-switch {box-sizing: border-box;display: inline-block;width: 40px;height: 100%;vertical-align: top;}

 .accountbg .orderaddr{height: 148px;width:90%;color:#282828;}

@media (min-width: 1600px) {
	.base-comp-bg{background-size:100% 100%;}
}


/*proc*/
.jgs2016_jgdlist  .issearch,.jgs2016_jgddown .issearch ,.rklist .issearch{background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAFBAMAAACHocAhAAAAHlBMVEUAAAAUZekTZekVZugUZugUZukWZ+kUZ+sWZ+kVaeoYyzb1AAAACnRSTlMA9KF6cGdeTUU9MIPVRgAAACRJREFUCNdjUGdgKGIAgsQGDjEQzSo5MYABBBxFGMCA2QBEAgBOggMgTR+aYQAAAABJRU5ErkJggg==');background-repeat: no-repeat;background-position: right;}
.jgs2016_jgdtitle{margin-top:20px;background: #EBEEF2;border-radius: 4px 4px 0 0;clear:both;height: 36px;line-height: 36px;color:#282828;border-left: 1px #E7E7E7 solid;border-right: 1px #E7E7E7 solid;box-sizing: border-box;}
.jgs2016_jgdtitle > span{border-right:1px rgba(0,0,0,0.07) solid;box-sizing: border-box;float:left;text-align:center;font-size: 12px;}
.jgs2016_jgdtitle > span:last-child{border-right:0;}
.jgs2016_jgdlist > span:last-child{border-right:0;}
.jgs2016_jgdlist{overflow: hidden;background: #FAFAFA;box-sizing: border-box;border:1px #E7E7E7 solid;}
.jgs2016_jgdlist span input[type='text'],.jgs2016_jgddown input[type='text'],.rklist input[type='text']{font-size:12px;text-align:center;padding: 4px 5px;outline: none;background-color: #FFFFFF;border: 1px solid #D9D9D9;border-radius: 3px;box-sizing: border-box;height:25px;line-height: 25px;}
.jgs2016_jgdlist span input[type='text']:hover,.jgs2016_jgddown input[type='text']:hover,.rklist input[type='text']:hover{border-color:#1365E8;}
.jgs2016_jgdlist > span {border-right: 1px rgba(0,0,0,0.07) solid;padding: 10px 0;box-sizing: border-box;float:left;text-align: center;}
.jgs2016_jgddown, .proc .first{clear: both;border-right: 1px solid #E7E7E7;border-bottom: 1px solid #E7E7E7;border-left: 5px #08CB93 solid;box-sizing: border-box;}
.list_2{padding:15px;font-size: 12px;}
.jgs2016_jgddown input[type='text'] {margin:0 5px 0 3px;}
.pct5{width: 5%}
.jgs2016_jgddown select{border: 1px #ccc solid;padding:1px 3px;  border-radius: 3px;min-width: 100px;margin-right: 3px;}
.jgs2016_jgddown .delall{float:right;}
.jgs2016_yllist .list2_weight{border-bottom: 1px #d9d9d9 dashed;font-size: 12px;padding:10px 0;overflow: hidden;}
.jgs2016_yllist .list2_num{border-bottom: 1px #d9d9d9 dashed; margin-left: 48px;padding:10px 0;}

.jgs2016_hb_tip{position:absolute;z-index:999999;background:#3b96dd;padding:0 10px;color:#fff;border-radius:5px;opacity: 0.90;*margin-left:-110px;margin-left:-100px;filter: alpha(opacity=90);-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(90)); }
.jgs2016_hb_tip i{position: absolute;right: -5px;top:6px;width: 0;height: 0;display: inline-block;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-left: 5px solid #3b96dd;
}
.hbbg{background:#06cb93;width:24px;height:24px;line-height:24px;border-radius:12px;display:inline-block;font-size:12px;text-align:center;color:#fff;position:relative;margin-right: 5px;}
.hbbg i{position:absolute;width:11px;height:11px;right:-5px;top:0px;background:url(../images/new2016_del.png) no-repeat;display:inline-block;cursor:pointer}
.checksel {vertical-align:middle;width: 15px;height: 15px;overflow: hidden;position: relative;display: inline-block;margin: 0 auto;background: url(../images/lgIcon.png)  -518px -168px no-repeat;}
.checksel .checkselbox{opacity: 0;-webkit-opacity: 0;-moz-opacity: 0;-ms-opacity: 0;filter: alpha(opacity = 0);left:-3px;top:-2px;position: absolute;}
.checksel.on{background-position: -468px -168px}
.checksel:hover{background-position: -368px -168px}
.createProc .jgProcSelect{text-align: left !important}

.jgs2016_yllist .jgtip {padding: 10px 0 10px 48px;line-height: 22px}
.jgs2016_jgddown .ui-selradio .bd_none{margin:0 ;border:0;}
.jgs2016_jgddown .jgs2016_jgbut{padding:0 10px;height: 25px;line-height: 25px; border-radius: 3px;border:1px #1365E8 solid;color: #1365E8;display: inline-block;font-size: 12px;text-decoration: none;box-sizing: border-box;cursor: pointer;transition: border-color .15s, background-color .15s;-webkit-transition: border-color .15s, background-color .15s;text-align: center;}
.jgs2016_jgddown .jgs2016_jgbut:hover{background-color: #1365E8;color: #fff;}

 #jg_Buthb {display: none; position: absolute; z-index: 9;}
 #jg_Buthb a{background:#00dfba;border-radius: 2px;color:#fff;font-size:12px;padding:3px 5px;display:inline-block}
 #jg_Buthb a i{position:absolute;right:-5px;width:0;height:0;display:inline-block;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-left: 5px solid #00dfba;}
 #jg_Buthb a:hover{background:#03d56c}
 #jg_Buthb a:hover i{border-left: 5px solid #03d56c;}

.indent10{text-indent: 10px}
.package_div{margin-top:5px;margin-left: 76px;border: 1px solid #E6E6E6;width: 240px;height:136px;background:#fff;box-sizing: border-box; }
.package_title{background: #FFF4F4;border-bottom:  1px solid #E6E6E6;height: 29px;line-height: 29px;text-align: center}
.package_content{padding:5px 0 0;text-align: center}
.package_list{display: inline-block;text-align: center;padding:0 20px;}
.package_listImg{height: 70px}

.createProc .search-contM {line-height: initial;}
.createProc .search-cont[data-type='mul']{width: 378px;}
.createProc .search-contM{overflow: hidden;height: auto;padding:0;margin:0;}
.createProc .search-contM .ui-option{min-width:70px;height: 25px;line-height: 25px;padding:0 8px;text-align: center;margin:8px 15px 0px 0;}
.createProc .search-contM .ui-option:nth-of-type(4n){margin-right: 0}
.jgfs_tiemo .selone{font-size:12px;position:absolute;background:#fff;display:none;box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);-webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);z-index: 9}
.jgfs_tiemo .selone > a{clear:both;display:block;height:27px;line-height:27px;width:140px;text-align:center}
.jgfs_tiemo .selone > a:hover{background:#dedede;color:#333}
#jgfs_tm{border:none}
 #jgfs_tm > ul > li a{display:block;height:30px;line-height:30px;width:190px;background:#fff;text-align:left;color:#676767;text-indent:10px;}
#jgfs_tm > ul > li a:hover{color: #1365E8;background: #F0F6FF;}
#jgfs_tm > ul > li a.on{background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAANlBMVEUAAAATZukTZukVZ+oWZ+kTZekUZugWZ+sUZekUZekUZukUZugUZuoUZukVZuoTZ+gaau0aZv+0kc6ZAAAAEnRSTlMA/PFeOayHNvLozsqPgFVDHQqVRL0QAAAAP0lEQVQY02MYGMDCikWMiQ9TjIMXizoUzTz8QIKdiUsQWZCZkQ0oxikA4SFEuZkYWWA8hCgjM6ZrmNkYBgsAALgHANQy5TNqAAAAAElFTkSuQmCC');background-position:right ;background-repeat:  no-repeat}
#jgfs_tm  ul  li{height:30px;line-height:30px;}
#jgfs_tm > ul {border-top:1px #ccc solid;border-bottom:1px #ccc solid;border-right:1px #ccc solid;}
#jgfs_tm > ul > li > ul.level01{position:relative;left:190px;top:-28px;display:none;box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);-webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15)}
#jgfs_tm > ul > li > ul.level01 > li > ul.level02{position:relative;left:190px;top:-28px;box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);-webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);display:none}
#jgfs_tm > ul > li > ul.level01 > li > ul.level02> li > ul.level03{position:relative;left:190px;top:-28px;box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);-webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);display:none}
.startGCircle{display:inline-block;width: 12px;height: 12px;background:#12D013 ;border-radius: 50%;position: relative;}
.startGCircle:before,.endECircle:before{position:absolute;content:'';width: 6px;height: 6px;background:#fff;border-radius: 50%;left:3px;top:3px;}
.endECircle{display:inline-block;width: 12px;height: 12px;background:#FB2020 ;border-radius: 50%;position: relative;}
.inOutdiameter {
    width: 30px;height: 25px;background-position: -310px -516px;
}
.alertInputErr,.error {border-color:#FB2020  !important;}

.sel-stockPanel{border:1px #ddd solid;background:#fff;width:600px;font-size:12px;display:none;position:absolute;z-index: 9}
.sel-stocktitle{background:#f9f9f9;height:41px;overflow:hidden}
.sel-stocktlist{width:32%;display:inline-block;text-align:center;height:39px;line-height:39px;border-bottom:1px #ededed solid;float:left}
.sel-stocktitle .sel-current{background:#fff;height:41px;border-bottom:none;width:34%;color:#098AEF;font-weight:bold;font-size:14px;}
.sel-bright{border-right:1px #ededed solid}
.sel-panel{padding:10px;text-align:left}
.sel-panel a{display: inline-block;color: #4D4D4D;line-height: 21px;white-space: nowrap;margin: 0 0 6px 0;padding:0 5px;}
.sel-panel a:hover{color:#1c88d3}
.sel-stockpnamelist{overflow:auto;max-height:250px;}
.sel-stockpnamelist > a{width:48%;display:inline-block;word-break:break-all;word-wrap:break-word;float:left;white-space:normal;*width:47%;}

.isalert{position:absolute;background: #FFFFFF;box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);-webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);border-radius: 3px;max-width: 600px;top:33px;left:0;max-height: 150px;overflow-y: auto;display: none;z-index: 9;min-width:60px;}
.isalertlist li{line-height: 30px;height: 30px;padding:0 10px;font-size:12px;color:#676767;display: block;text-align: left;cursor: pointer;}
.isalertlist li:hover{color:#1365E8 ;background: #F0F6FF;}
.isalert::-webkit-scrollbar{width:4px;height:4px;}
.isalert::-webkit-scrollbar-track-piece{background-color:#ededed;margin:-2px;}
.isalert::-webkit-scrollbar-thumb {background:#CBCBCB;border-radius:2px;}
.isalert::-webkit-scrollbar-thumb:vertical:hover {background:#afaeae;}
.isalert::-webkit-scrollbar-thumb:horizontal:hover {background:#afaeae}

.selectProcName{width:90%;overflow:hidden;line-height: 22px;}
.selectProcName a{color: #676767;display: inline-block;padding:0 8px;}
.selectProcName a:hover{color:#1365e8}
.selectProcName a.on{color:#1365E8;background: #FFFFFF;border: 1px solid #E6E6E6;box-shadow: 0 2px 4px 0 rgba(0,0,0,0.04);border-radius: 15px;box-sizing: border-box;}
.bbdad9 {border-bottom: 1px dashed #D9D9D9;}
.ml61 {margin-left: 61px;}
.rklist input[type='text']{width: 90%;}

.jgs2016_sh {background-color: #f1f6ff;padding: 10px;margin-top:20px;}
.jgs2016_sh_more {background-color: #fff;padding: 10px 10px 10px 40px;}
.jgs2016_sh_more .first{line-height:26px}
.jgs2016_sh_more .first .ftitle {line-height: 40px;border-bottom: 1px #dedede dashed;margin-bottom: 10px;color:#1365E8;}
.jgs2016_sh_more .first .s_1 {
    width: 70px;
}
.jgs2016_sh_more .first span {display: inline-block;}
.jgs2016_sh_more .first .s_2 {width: 280px;letter-spacing: 0px;}
.jgs2016_sh_more .first .s_3 {width: 130px;}
.jgs2016_sh_more .first .s_4 {width: 150px;}
.jgs2016_sh_more .first .ftip {border-top: 1px #E6E6E6 solid;line-height: 25px;margin: 10px 0 10px 0;padding-top: 10px;}
.jgs2016_sh_more .first .hbbg{width:26px}
.jgs2016_sh_more .first .hbbgg{width:26px}
.jgs2016_sh_more .first .r{float:right;}
.jgs2016_sh_more i.grey {
    display: inline-block;
    width: 55px;
    font-style: normal;
    color: #808080
}
.jgs2016_sh_more i {
    font-style: normal;
    color: #808080;
    vertical-align: inherit;
    padding: 0 3px;
}
.jgs2016_sh i {
    vertical-align: inherit;
    color: #0f1533;
    font-style:normal;
}
.jgs2016_sh > span {
    margin-right:2%;color: #9A9A9A;
}

.jgs2016_sh_more .first .hbbg {
    background: #1bb869;
    width: 26px;
    height: 26px;
    border-radius: 12px;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    color: #fff;
    position: relative;
    margin-right: 5px;
}
.jgcancelsubmit{color: #4E5C73;border:1px solid #dcdcdc;border-radius: 5px;display: inline-block;}
.jgcancelsubmit:hover{background: #fff; border-color: #C3DAFF;color: #2172F5;}
.w90{width: 90%}
.showShadow{ box-shadow: 0 3px 8px 0 #e6e9ef;-webkit-box-shadow: 0 3px 8px 0 #e6e9ef;}
.ui-table.noline th{border:0;padding:0 2px 0 10px;border-bottom: 1px #e6e6e6 solid;line-height: 32px;text-align: left;}
.ui-table.noline tbody td,.ui-table.noline tfoot td{border:0;padding:0 2px 0 10px;}
.bre6i{border-right: 1px #e6e6e6  solid !important;}
.bte6i{border-bottom: 1px #e6e6e6  solid !important;}
.ui-table.noline .ptb10 td{padding-top:12px;padding-bottom:12px;}
.bg85{background: #85A0CB !important;}
.bg08{background: #08CB93 !important;}
.pct98{width: 98%}
.ui-button.green{background: #08CB93;}
.ui-button.yelbor{color: #D2A769;border: 1px solid #D2A769;}
.ui-button.yelbor:hover{border-color:#D2A769;color: #D2A769;background-color: #fff9f0}
.ui-button.w160{width: 160px;min-width: 160px}
.ui-button.w120{width: 120px;min-width: 120px}
.ui-button.w90{width: 90px;min-width: 90px}
.ui-button.w76{width: 76px;min-width: 76px}
.ui-option.w60{width: 60px;min-width: 60px;}

.offTab {background-color: #F9F9F9}
.myarrow{width: 8px;height: 12px;display: inline-block;background:url(../images/lgIcon.png) -121px -219px;}
.down >.myarrow{background-position: -71px -219px;}
.up >.myarrow{background-position: -71px -219px;transform: rotate(180deg);-webkit-transform: rotate(180deg);}
.topbottom{position: fixed;top: 150px;right: 50px;z-index: 11;}
.fixbottom {position: fixed;bottom: 50px;right: 50px;z-index: 11;opacity: 0;visibility: hidden;}
.rightCircle{line-height:52px;box-sizing:border-box;font-size:16px;text-align:center;color:#1365e8;width:52px;height:52px;border-radius:50%;display:inline-block;background-image: -webkit-linear-gradient(180deg, #fff 0%, #e0e4ec 100%);background-image: linear-gradient(180deg, #fff 0%, #e0e4ec 100%);border: 1px solid #FFFFFF;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);}
.rightCircle:hover{background-image: -webkit-linear-gradient(180deg, #fff 0%, #caced6  100%);background-image: linear-gradient(180deg, #fff 0%, #caced6 100%);}
.rightCircle > .tiptxt{display: none}
.rightCircle:hover > .tiptxt{display: inline-block;font-style: normal;}
.rightCircle > .bottomIcon{width: 22px;height: 22px;background-position: -164px -218px;margin-top:14px;}
.rightCircle:hover > .bottomIcon{display: none}
.bottomIcon.top{transform: rotate(180deg);-webkit-transform: rotate(180deg);}
.mon-bal {display: inline-block;width: 18px;height: 18px;background-color: #fff;border-radius: 100%;font-size: 12px;
    line-height: 18px;text-align: center;font-style: normal;border:1px #2172F5 solid;color:#2172F5;}
.mon-bal.m_g{color:#CE9F6B;border-color: #CE9F6B}
.mon-bal.m_w{color:#08CB93 ;border-color: #08CB93 }
.mon-bal.m_f{color:#5F89A1 ;border-color: #5F89A1 }
.mon-bal.m_j{color: #C2976D;border-color: #C2976D;}
.city-picker-span{vertical-align:middle;border-radius:3px;height: 34px;line-height: 34px;font-size: 14px;border:1px solid #D9D9D9;box-sizing:border-box;text-indent:10px;}
.coupon-item > .circleDot{width: 24px;height: 24px;background-position: -213px -213px;position: absolute;top:35px;right:32px;background-color:transparent;}
.coupon-item.on > .circleDot{background-position: -263px -213px;}
.coupon-cont{padding-left:87px;display: none}
.ui-table .pageWrap{margin-top:0;}

.vb {vertical-align: baseline;}
.clearingBill{background: url(../images/proc/clearingBill.png) no-repeat;width: 300px;height: 100px;box-sizing: border-box;text-align: center;line-height: 100px;background-position: center top;color: #68491D;
}
.invoiceMsg{
    height: 155px;box-sizing: border-box;border: 1px solid  #E6E6E6;
}
.invoiceCorpMsg{
    height: 102px;box-sizing: border-box;overflow-y: auto;
}
.invoiceCorpMsg::-webkit-scrollbar {width:6px;height:4px;}
.invoiceCorpMsg::-webkit-scrollbar-track-piece {background-color:transparent;margin:-spx;}
.invoiceCorpMsg::-webkit-scrollbar-thumb{background:#D8D8D8 ;border-radius:2px;}
.invoiceCorpMsg::-webkit-scrollbar-thumb:vertical:hover{background:#bbb;}
.invoiceCorpMsg::-webkit-scrollbar-thumb:horizontal:hover{background:#bbb }
.invoiceCorpMsg-item{
    width: 100%;height:34px ;box-sizing: border-box;line-height: 34px;
    
}
.invoiceCorpMsg-item.on,.invoiceCorpMsg-item:hover{
      background: #F0F6FF;
}
.icon-check{
    width: 16px;height:16px;background: url('../images/proc/icon-check.png') no-repeat;display: inline-block;position: relative;
}
.icon-stop{
    width: 16px;height:16px;background: url('../images/proc/icon-stop.png') no-repeat;display: inline-block;position: relative;
}
.icon-check.on{
    background: url('../images/proc/icon-checked.png') no-repeat;
}

.icon-add::before{
    content: "";display: inline-block;width: 16px;height: 16px;background: url('../images/proc/icon-add.png') no-repeat;vertical-align: -3px;margin-right: 5px;
}
.invoice{box-sizing: border-box;height: inherit;}
.corpNameBox{line-height: 24px;height: 24px;overflow: hidden;}
.greenDf{color:#fff;}
.greenDf:before{content:'';position:absolute;width: 0;height: 0;border-top: 35px solid #08CB93;border-right:48px solid transparent;top: 0px;left: 0px;}
.greenDfRot{position: absolute;left:-1px;top:4px;display: inline-block;transform: rotate(-35deg);}
.fixedButton{position: fixed;bottom:10px;width: 100%;margin-left:-112.5px;}
.pr50{padding-right:50px;}

/* applysale */
.order-step {position: relative;width: 70%;}
.order-step:before {content: '';position: absolute;top: 12px;border-top: 1px #D9D9D9 dashed;width: 100%;height: 1px;left: 0;}
.order-step1.on, .order-step2.on, .order-step3.on, .order-realName1.on, .order-realName2.on, .order-realName3.on {color: #1365E8;font-weight: bold;background: #fff;}
.order-step1,.order-realName1 {position: absolute;left: -26px;}
.order-step2 { left: 33%; background: #fff; transform: translateX(-50%); -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); }
.order-realName2 { left: 50%; background: #fff; transform: translateX(-50%); -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); }
.order-step3 { left: 66%; transform: translateX(-150%); background: #fff; -webkit-transform: translateX(-150%); -moz-transform: translateX(-150%); -ms-transform: translateX(-150%); -o-transform: translateX(-150%); }
.order-realName3 { left: 100%; transform: translateX(-150%); background: #fff; -webkit-transform: translateX(-150%); -moz-transform: translateX(-150%); -ms-transform: translateX(-150%); -o-transform: translateX(-150%); }
.order-step4 { left: 100%; transform: translateX(-433%); -webkit-transform: translateX(-433%); background: #fff; -moz-transform: translateX(-433%); -ms-transform: translateX(-433%); -o-transform: translateX(-433%); }
.circle24 {display: inline-block;font-style: normal;width: 24px;height: 24px;border-radius: 50%;box-sizing: border-box;border: 1px #D9D9D9 solid;text-align: center;line-height: 24px;color: #9A9A9A;background: #fff;}
.on > .circle24 {color: #fff;background: #1365E8;border: 0;}

.banner-vip{background: url(../images/applySale/banner-vip.png) no-repeat;background-size: 100% 100%;}
.banner-stock{background: url('../images/applySale/banner-stock.png') no-repeat;background-size: 100% 100%;}
.banner-corp{background: url('../images/applySale/banner-corp.png') no-repeat;background-size: 100% 100%;}
.banner-supplier{background: url('../images/applySale/banner-supplier.png') no-repeat;background-size: 100% 100%;}
.banner-proc{background: url('../images/applySale/banner-proc.png') no-repeat;background-size: 100% 100%;}
.banner-trans{background: url('../images/applySale/banner-trans.png') no-repeat;background-size: 100% 100%;}

.apply-comp-bg{border-radius: 6px;-webkit-border-radius: 6px;-moz-border-radius: 6px;-ms-border-radius: 6px;-o-border-radius: 6px;height: 200px;}
.apply-comp-cont{padding: 5px 0 0 34px;font-size: 14px;line-height: 25px;}
.apply-comp-right{padding:82px 35px  0 0;box-sizing: border-box;}
.ptl40{padding-left: 40%;}
.stockInfo{height: 462px;background: #FFFFFF;border: 1px solid #EEEEEE;box-shadow: 0 5px 8px 0 rgba(0,0,0,0.05);}
.stockInfo-left{height: inherit;display: flex;flex-direction: column;justify-content: center;align-items: center;background: #fafafa;border-right: 1px solid #EEEEEE;box-sizing: border-box;}
.stockInfo-right{box-sizing: border-box;}
.tip-box{background: #E8F6FE;border: 1px solid #B9D5E6;box-sizing: border-box;display: flex;}
.tip-box .ui-button{align-self: center;}
.tip-icon{display: inline-block;background: url(http://resource.lgsteel.cn/gold2020/images/tip.png) no-repeat ;width: 150px;height: 90px;background-position: center 0;}
.tip-text{flex: 1;}
.stamp{width: 125px;height: 122px;border: 1px solid #F4F4F4;}
.realTitle{color: #282828;}
.bbe6{border-bottom: 1px solid #e6e6e6;}
.pb40{padding-bottom: 40px;}
.applyResultBox{background: #FFFFFF;border: 1px solid #EEEEEE;box-shadow: 0 3px 8px 0 rgba(0,0,0,0.07);border-radius: 6px;height: 464px;display: flex;flex-direction: column;align-items: center;justify-content: center;}
.applyInterval{background: url(../images/applySale/timebg.png) no-repeat left;width: 58px;height: 24px;line-height: 24px;}
.ml8{margin-left: 8px;}
/* button */
.ui-button[data-color="white"]{background: #fff;color: #1365e8;}
.ui-button[data-color="white"]:hover {color: #2172F5;background-color: #F0F6FF;}
.apply-btn{border: 1px solid #fff;box-shadow: 0 3px 8px 0 rgba(255,255,255,0.50);}
.applyTitle{width: 180px;}
.applyTitle1{width: 180px;color: #9A9A9A;}

.ui-input-x.h34{height: 34px;line-height: 34px;} 
.ui-input-x.h34 .ui-inputbut{height: 32px;line-height: 34px;} 
.input-selSearch{box-sizing: border-box;}
.ui-input-x.h34 .ui-inputlink {border: 0;outline: none;line-height: 30px;text-indent: 30%;width: 100%;vertical-align: top;}
.ui-input-x.h34 .ui-inputlink + .search-cont {top: 38px;}
.ui-input-x .ui-inputbut.bgwh{background: #fff}
.ui-input-x.h34 > input{box-sizing: border-box;padding-left: 5px;line-height: 32px;}
