html,body{background: #F1F3F7;font-family: PingFang SC,Hiragino Sans GB,Microsoft YaHei,STHeiti,WenQuanYi Micro Hei,Helvetica,Arial,sans-serif;color:#676767}
.leftBar{width: 176px;position:fixed;left:0;bottom:0;background:url(../images/left.png) #d9e7ef center top;top:0;background-size:100% 100%;transition: all 0.5s;-webkit-transition: all 0.5s}
.rightBar{position:absolute;left:176px;top:0;right:0;bottom: 0;}

.lgIcon{background: url(../images/lgIcon.png);display: inline-block;}
.ui-content{min-height: calc(100vh - 180px)}
.g9a{color:  #9A9A9A}
.ui-label[data-type='grey']{background-color:#ccc ;color:#fff ;}
.ui-table[data-type='noLine'] tbody td,.ui-table[data-type='noLine'] tfoot td{border-right:0;}
.ui-button.w80{width: 80px;min-width: 80px !important}
.ui-button.w180{width: 180px;min-width: 180px}
.ui-button.w155{width: 155px;min-width: 155px}
.ui-button.w220{width: 220px;min-width: 220px;}
.ui-button.h44{height: 44px;line-height: 44px;}
.gd9{color:#D9D9D9}
.g80{color:#808080}
.edit-icon{width: 14px;height: 14px;background-position: -518px -118px;}
.lh28{line-height: 28px}
.leftArrow{background: url(../images/leftArrow.png) no-repeat; width: 16px; height: 14px;display: inline-block;vertical-align: middle;} 
.showShadow{ box-shadow: 0 3px 8px 0 #e6e9ef;-webkit-box-shadow: 0 3px 8px 0 #e6e9ef;}
.nav{font-size: 12px;padding:10px 0;color: #282828}
.pct28{width: 28%}
.pct35{width: 35%}
.ui-input.h34{height: 34px;line-height: 34px;}
.ui-button.w280{width: 280px;min-width: 280px;}
.ui-option.h34{height: 34px;line-height: 34px;font-size: 14px;}
.gae{color:#AEAEAE;}

/*leftbar*/
.logo{height:133px;text-align: center;padding-top: 10px;}
.menu::-webkit-scrollbar {width:6px;height:4px;}
.menu::-webkit-scrollbar-track-piece {background-color:#ddecf5;margin:-spx;}
.menu::-webkit-scrollbar-thumb{background:#b9d0e0;border-radius:2px;}
.menu::-webkit-scrollbar-thumb:vertical:hover{background:#8cb2ca;}
.menu::-webkit-scrollbar-thumb:horizontal:hover{background:#8cb2ca}
.menu{overflow-y:auto;box-sizing: border-box;margin-top:20px;}
.menulist{margin:0 13px;box-sizing: border-box;height: 40px;line-height: 40px;color:#fff;display:block;margin-bottom: 10px;font-size: 16px;text-indent: 13px;color: #676767;display: block}
.menulist:hover,.smlist:hover{background: rgba(255,255,255,0.50);border-radius: 6px;color:#676767;}
.menulist.on,.smlist.on{background: #1365E8;box-shadow: 0 10px 15px -5px rgba(69,146,251,0.40);-webkit-box-shadow: 0 10px 15px -5px rgba(69,146,251,0.40);border-radius: 6px;color:#fff;}
.menuline{background: #ccc;height:1px;margin-bottom: 30px}
.smlist{height: 35px;line-height: 35px;color:#676767;display:block;font-size: 14px;text-indent: 40px;margin:0 13px 5px;}


.mulfolder > .smenu{display: none}
.open > .smenu{display: block}
.imenu-index{width:22px;height:22px;background-position: -15px -15px;}
.on > .imenu-index{background-position: -15px -65px;}
.imenu-order{width:22px;height:22px;background-position: -65px -15px;}
.on > .imenu-order{background-position: -65px -65px;}
.imenu-car{width:22px;height:22px;background-position: -115px -15px;}
.on > .imenu-car{background-position: -115px -65px;}
.imenu-upload{width:22px;height:22px;background-position: -165px -15px;}
.on > .imenu-upload{background-position: -165px -65px;}
.imenu-stock{width:22px;height:22px;background-position: -215px -15px;}
.on > .imenu-stock{background-position: -215px -65px;}
.imenu-warehouse{width:22px;height:22px;background-position: -265px -15px;}
.on > .imenu-warehouse{background-position: -265px -65px;}
.imenu-proc{width:22px;height:22px;background-position: -315px -15px;}
.on > .imenu-proc{background-position: -315px -65px;}
.imenu-review{width:22px;height:22px;background-position: -365px -15px;}
.on > .imenu-review{background-position: -365px -65px;}
.imenu-info{width:22px;height:22px;background-position: -415px -15px;}
.on > .imenu-info{background-position: -415px -65px;}
.imenu-up{ width: 16px;height: 14px;background-position:-517px -18px;}
.open .imenu-up{transform: rotate(-180deg);-webkit-transform: rotate(-180deg);}
/*rightbar*/
.id_mylg{width: 28px;height: 33px;background-position:-461px -61px;}
.topcart{width:44px;height:44px;background-position: -456px -2px;position: relative;}
.topcartDot{display:inline-block;background: #FB2020;width: 18px;height: 18px;border-radius: 50%;position: absolute;top:0;right:0;color:#fff;line-height: 
18px;text-align:center;font-style: normal;font-size:12px;}




/*rightbar*/
.topBar{height:76px;border-bottom: 1px rgba(128,128,128,0.2) solid;box-sizing: border-box;}
.mainCont{padding:20px 30px;}
.mainContnot{padding:0px 30px;}



/* new  web and scroll banner*/
.flexslider{ position:relative;  overflow:hidden; background:url(../images/adv/loading.gif) 50% no-repeat; z-index: 0;height:248px;border-radius: 6px;margin-right: 10px}
.slides{ position:relative; z-index:0;}
.slides > li{ height:248px;}
.flex-control-nav{ position:absolute; bottom:10px; z-index:2; width:100%; text-align:center;}
.flex-control-nav li{ display:inline-block;width:30px; height:6px; margin:0 5px; *display:inline; zoom:1;}
.flex-control-nav a{ display:inline-block; width:30px; height:6px; line-height:40px; overflow:hidden; background: #fff; opacity: 0.6; filter:alpha(opacity=60);cursor:pointer;}
.flex-control-nav .flex-active{ background: #fff; opacity: 1; filter:alpha(opacity=100);}
.flex-direction-nav{ position:absolute; z-index:3; width:100%; top:45%;}
.flex-direction-nav li a{ display:block; width:50px; height:50px; overflow:hidden; cursor:pointer; position:absolute;}
.flexslider .set-a { display: inline-block; width: 100%; height: 100%;}

.icon-hidden.show{background-position:-365px -116px;}
.icon-hidden{height: 20px;width: 20px;background-position:-415px -116px;}
.index-account-cont{height:199px;}
.index-top-title{font-size: 16px;line-height: 45px;display: inline-block;margin-left: 20px;color:#676767;}
.index-top-title.on{border-bottom: 3px #1365E8 solid;color: #282828;}
.index-top-right{padding:15px 20px 0 0;}
.index-top-hide{}
.index-account-detail{padding:40px 40px 0;}
.icon-index-account{height: 100px;width: 200px;background-position:-150px -100px;}
.icon-index-myCoupon{height: 100px;width:150px;background-position:0px -100px;}

.znstepcont{height: 30px;}
.znstepcircle{left:0;background: #D8D8D8;;line-height:8px;width:8px;height: 8px;text-align:center;border-radius: 50%;}
.znstepcircle.selected{background-color:#10C861;}
.znstepline{line-height: 1px;padding:0;top:8px;left:7px;height: 1px;border-top: 1px #CCCCCC dashed ;}
.znstepline.selected{border-color: #10C861}
.znstepcircleorange{left:0;background:#FF6B6B;line-height:8px;width:8px;height: 8px;text-align:center;border-radius: 50%;}
.ml-10{margin-left:-10px;}
.left-0{left:0;}
.z-index9{z-index:9;}
.znstepclock{width: 8px;height:8px;left:0;box-sizing: border-box;border:1px #10C861 dashed;border-radius: 50%;background:#fff;}
.pct22 {width: 22.5%;}
.pct18{width: 18%}
.pct14{width: 14%}
.inoperable{background: #FAFAFA;color: #9A9A9A }
.inoperable .red{color: #9A9A9A }
.switchDotBut.on:after,.switchDotButToReapply.on:after{left:50%;top:39px;transform:translateX(-50%);content:'';position:absolute;width: 17px;height:7px;background:url(../images/switchangleBut.png) no-repeat;}
.whbgshadow{background: #FFFFFF;border: 1px solid #EEEEEE;box-shadow: 0 5px 8px 0 rgba(0,0,0,0.05);-webkit-box-shadow: 0 5px 8px 0 rgba(0,0,0,0.05);}
.scanbg{background: #F1F3F7;border: 1px solid #EEEEEE;border-radius: 3px;width: 508px;height:319px;}
.scanwbg{border: 1px solid #E6E6E6;background: #fff;box-sizing: border-box;width: 238px;height: 240px;margin:25px auto 10px;padding:10px;}
.scanwbg > img{width: 218px;height:220px;}
.mr76{margin-left: 76px;}
.payIcon-wy{display: inline-block;width: 86px;height: 32px;background:url(../images/payIcon.png) -69px 0;}
.payIcon-wx{display: inline-block;width: 92px;height: 32px;background:url(../images/payIcon.png) -155px 0;}
.payIcon-zfb{display: inline-block;width: 69px;height: 32px;background:url(../images/payIcon.png) 0 0;}
.ui-tip[data-type='normal'].linetwo { background-position: 0px 10px;padding: 0 10px 0 20px;}
.payBankItem{border: 1px solid #E6E6E6;border-radius: 3px;width: 180px;height:68px;cursor: pointer;}
.payBank-zs{background:url(../images/payIcon.png) -180px -32px #fff;}
.payBank-zg{background:url(../images/payIcon.png) 0px -32px #fff;}
.payBank-gs{background:url(../images/payIcon.png) 0px -100px #fff;}
.payBank-js{background:url(../images/payIcon.png) -360px -32px #fff;}
.payBank-ny{background:url(../images/payIcon.png) -180px -100px #fff;}
.payBankItem:hover,.payBankItem.on{border-color:#2172F5;}

/*address*/
.orderaddr.w270{width: 270px}
.orderaddr.adr-binfo{width: 100%;margin:20px 0 0  0;height:138px;}
.orderaddr{padding:10px;position:relative;margin-bottom:10px;display:inline-block;margin-right: 10px;width:282px;height:113px;box-sizing: border-box;border:1px #D9D9D9 dashed;border-radius: 3px;}
.orderaddr:hover{border-color:#1365E8 }
.addrInfo{max-height: 36px;margin-bottom: 2px;overflow: hidden}
.addrbut{background: #FAFAFA;padding:1px 5px;color: #9A9A9A;}
.addrdel{display:none;width: 14px;height: 14px;background-position: -318px -468px;position: absolute;right:-5px;top:-5px;}
.orderaddr:hover .addrdel{display: inline-block;}
.orderaddr.active{border-color:#1365E8;background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAMAAAAMs7fIAAAASFBMVEUAAAAUZukUZukTZehTj+5qnvD+/v/4+v7s8v1+qO8ncurZ5vutyffw8vWUufSOtfOGsPNwofFlmvBimO9fl+83fOszeusUZuiqTSyEAAAAA3RSTlMAgOaInBvYAAAAT0lEQVQY02XIRxKAIAAEQXUkmvP/f6pU4QG2j93UWgkkkEACCSSQoIpzpYxjiBSx+wv+WG4wrgdy0Htj7AaQ4ytnZ5IcqcYHIKYohCq6ML33tgKbIh8BSwAAAABJRU5ErkJggg==');background-position:bottom right;background-repeat: no-repeat; }
.active .addrInfo{color:#282828;}
.active .defautTip{color:#FB2020;background-color: #FFE3E3;display: inline-block; }
.addrbut{display: none}
.orderaddr:hover .addrbut{display: inline-block; }
.addressBook{height: 123px;overflow: hidden;display: none}
.addressBookBut{display: none}
.addressDBook{padding-top: 5px;}
.defautTip{color:#FB2020;background-color: #FFE3E3;display: inline-block;padding:1px 5px; }


/*pageWrap*/
.pageWrap{margin: 20px auto 0;text-align: center;}
.pagegray,.arrowL,.arrowR{width: 30px;color: #676767;height:30px;line-height: 30px;margin: 0 3px; border-radius: 2px;display: inline-block;cursor: pointer;background-color: #F1F3F7; }
.pagegray:hover,.arrowL:hover,.arrowR:hover{background-color: #F0F6FF; color: #1365E8;}
.pagegray.active{color: #fff;background-color: #1365E8;}


/* width */
.w80{width: 80px;}
.pct5{width: 5%;}
.pct16{width:16%}
.pct12{width:12%}
.pct24{width: 24%;}
.pct45{width: 45%;}
.pct55{width: 55%;}
.pct88{width: 88%;}
.pct95{width: 95%;}

/* margin */
.mt25{margin-top:25px}
.mt45{margin-top:45px}
.mt35{margin-top: 35px;}
.ml25{margin-left: 25px;}

/* padding */
.pl25{padding-left: 25px;}
.pr25{padding-right: 25px;}


/* 清除浮动 */
.clearfix:after{content: "020"; display: block; height: 0; clear: both; visibility: hidden; }

/* modelUpload */
.download-customer {width: 300px;height: 150px;box-sizing: border-box;border: 1px dashed #D9D9D9;border-radius: 3px;background: #fafafa;}
.customer-download {width: 40px;height: 40px;display: inline-block;background: url(../images/customer/customer-download.png) no-repeat center;}
.customer-upload {width: 40px;height: 40px;display: inline-block;background: url(../images/customer/customer-upload.png) no-repeat center;}

/* myDepot  */
.selectSingle a {color: #808080;display: inline-block;}
.selectSingle a.on {color: #1365e8;}
.myStock {border: 1px solid #e5e5e5;}
.stockTable {border: 1px solid #e5e5e5;}
.stockFoot {height: 60px;line-height: 60px;background: #F3F7FD;}
.router .startAddr::before, .router .endAddr::before {content: "";width: 8px;height: 8px;background: #FFFFFF;border: 2px solid #10C861;border-radius: 50%;display: inline-block;vertical-align: -2px;margin-right: 5px;}
.router .endAddr::before {border: 2px solid #FB2020;}
.router .tran {background: url(../images/customer/allow-down.png) no-repeat;min-height: 60px;background-position: 2px 0;}
.fixedbar {position: fixed;bottom: 0;height: 60px;background-color: #fff;width: 100%;box-sizing: border-box;padding: 15px 0;}
.warehouse-btn button {min-width: 65px;}
.bte {border-top: 1px solid #eee;}
.stockTable {border: 1px solid #e5e5e5;}
.bte6 {border-top: 1px solid #e6e6e6;}
.pl50{padding-left: 50px;}
.pl100{padding-left: 100px;}
.plpct30{padding-left:30%;}
.alertinput{border-color: #ff8082 !important;}
/*baseinfo*/
.nbut{border:0;background: transparent;}
.base-info-left{display: inline-block;width: 60%;font-size: 14px;box-sizing: border-box;padding:32px 6.5%;}
.base-info-right{display: inline-block;width: 40%;font-size: 14px;box-sizing: border-box;padding:32px 6.5%;border-left:1px #EEEEEE solid;min-height: 700px;vertical-align: top}
.base-comp-bg{background:url(../images/base/compbg.png) center no-repeat;box-shadow: 0 18px 15px -10px #EDEFF3;-webkit-box-shadow: 0 18px 15px -10px #EDEFF3;border-radius: 6px;height:208px;}
.base-comp-title{color:#fff;height:50px;line-height: 50px;padding-left:34px;font-size: 16px;}
.base-comp-band{background: #FFFFFF;border: 1px solid #FFFFFF;border-radius: 11px;color: #CC924D;height:22px;line-height: 22px;font-size: 12px;padding:0 5px;}
.base-brand-ic{width: 16px;height: 16px;background-position: -467px -117px;}
.base-comp-cont{color:#fff;padding:20px 0 0 34px;line-height: 25px;}
.base-finan-add{background: #FAFAFA;border: 1px dashed #D9D9D9;border-radius: 3px;box-sizing: border-box;height: 138px;padding-top:30px;}
.base-finan-addbut{line-height:30px;text-align:center;font-size:24px;border-radius:50%;background: #FFFFFF;box-shadow: 0 3px 10px 0 rgba(0,0,0,0.08);-webkit-box-shadow: 0 3px 10px 0 rgba(0,0,0,0.08);height:32px;width: 32px;}
.base-finan-add:hover{border-color: #1365E8}
.base-finan-tip{margin:50px -10% 0; }
.sms-content {box-sizing: border-box;display: inline-block;width: 800px;vertical-align: top;}
.sms-content-item {box-sizing: border-box;width: 44%;height: 70px; margin: -1px 4% 0px 0;float: left;padding: 16px 19px;border: 1px solid #E6E6E6;background: #F9F9F9;
    text-align: left;cursor: pointer;}
.sms-content-item:nth-of-type(2n){margin-right:0;}
.sms-content-item.on{background: #fff}
 .sms-content-item-panel {box-sizing: border-box;display: inline-block;width: calc(100% - 40px);font-size: 12px;line-height: 17px;vertical-align: top;}
 .sms-content-item-switch {box-sizing: border-box;display: inline-block;width: 40px;height: 100%;vertical-align: top;}

 .accountbg .orderaddr{height: 138px;width: 32%;color:#282828;}

@media (min-width: 1600px) {
	.base-comp-bg,.apply-comp-bg{background-size:100% 100%;}
}

/* applysale */
.order-step {position: relative;width: 70%;}
.order-step:before {content: '';position: absolute;top: 12px;border-top: 1px #D9D9D9 dashed;width: 100%;height: 1px;left: 0;}
.order-step1.on, .order-step2.on, .order-step3.on {color: #1365E8;font-weight: bold;background: #fff;}
.order-step1 {position: absolute;left: -26px;}
.order-step2 { left: 33%; background: #fff; transform: translateX(-50%); -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); }
.order-step3 { left: 66%; transform: translateX(-150%); background: #fff; -webkit-transform: translateX(-150%); -moz-transform: translateX(-150%); -ms-transform: translateX(-150%); -o-transform: translateX(-150%); }
.order-step4 { left: 100%; transform: translateX(-433%); -webkit-transform: translateX(-433%); background: #fff; -moz-transform: translateX(-433%); -ms-transform: translateX(-433%); -o-transform: translateX(-433%); }
.circle24 {display: inline-block;font-style: normal;width: 24px;height: 24px;border-radius: 50%;box-sizing: border-box;border: 1px #D9D9D9 solid;text-align: center;line-height: 24px;color: #9A9A9A;background: #fff;}
.on > .circle24 {color: #fff;background: #1365E8;border: 0;}
.apply-comp-bg{background: #91AADA;border-radius: 6px;-webkit-border-radius: 6px;-moz-border-radius: 6px;-ms-border-radius: 6px;-o-border-radius: 6px;height: 200px;}
.apply-comp-cont{padding: 5px 0 0 34px;font-size: 14px;line-height: 25px;}
.apply-comp-right{padding:82px 35px  0 0;box-sizing: border-box;}
.ptl40{padding-left: 40%;}
.stockInfo{height: 462px;background: #FFFFFF;border: 1px solid #EEEEEE;box-shadow: 0 5px 8px 0 rgba(0,0,0,0.05);}
.stockInfo-left{height: inherit;display: flex;flex-direction: column;justify-content: center;align-items: center;background: #fafafa;border-right: 1px solid #EEEEEE;box-sizing: border-box;}
.stockInfo-right{box-sizing: border-box;}


/* button */
.ui-button[data-color="white"]{background: #fff;color: #1365e8;}
.ui-button[data-color="white"]:hover {color: #2172F5;background-color: #F0F6FF;}

.ui-input-x.h34{height: 34px;line-height: 34px;} 
.ui-input-x.h34 .ui-inputbut{height: 32px;line-height: 32px;} 
.input-selSearch{box-sizing: border-box;}
.ui-input-x.h34 .ui-inputlink {border: 0;outline: none;line-height: 30px;text-indent: 30%;width: 100%;vertical-align: top;}
.ui-input-x.h34 .ui-inputlink + .search-cont {top: 38px;}

